.container {
    max-width: 1140px
}
/* From 768px to down */

@media screen and (max-width: 768px) {

    .container {
        max-width: 720px;
    }
}

/* From 576px to down */
@media screen and (max-width: 576px) {
    
    .container {
        max-width: 500px;
    }
    
}
